/Netbeanss/olaMundoSwing/nbproject/private/
/Netbeanss/olaMundoSwing/build/
/Netbeanss/OlaMundoSwingg/nbproject/private/
/Netbeanss/OlaMundoSwing/nbproject/private/
/Netbeanss/OlaMundoSwing/build/
/Netbeanss/OlaMundoJavaFX/nbproject/private/
/Netbeanss/OlaMundoJavaFX/build/
/Netbeanss/OlaMundoJavaFX/dist/
/Netbeanss/OlaMundoSwing/dist/
/Netbeanss/HoraDoSistema/nbproject/private/
/Netbeanss/HoraDoSistema/build/
/Netbeanss/ResolucaoTela/nbproject/private/
/Netbeanss/ResolucaoTela/build/
/Netbeanss/IdiomaSistema/nbproject/private/
/Netbeanss/IdiomaSistema/build/
