/Netbeanss/olaMundoSwing/nbproject/private/
/Netbeanss/olaMundoSwing/build/
/Netbeanss/OlaMundoSwingg/nbproject/private/
/Netbeanss/OlaMundoSwing/nbproject/private/
/Netbeanss/OlaMundoSwing/build/
/Netbeanss/OlaMundoJavaFX/nbproject/private/
/Netbeanss/OlaMundoJavaFX/build/
/Netbeanss/OlaMundoJavaFX/dist/
/Netbeanss/OlaMundoSwing/dist/
/Netbeanss/HoraDoSistema/nbproject/private/
/Netbeanss/HoraDoSistema/build/
/Netbeanss/ResolucaoTela/nbproject/private/
/Netbeanss/ResolucaoTela/build/
/Netbeanss/IdiomaSistema/nbproject/private/
/Netbeanss/IdiomaSistema/build/
/Netbeanss/RelogioSwing/nbproject/private/
/Netbeanss/RelogioSwing/build/
/Netbeanss/IdiomaSistemaSwing/nbproject/private/
/Netbeanss/IdiomaSistemaSwing/build/
/Netbeanss/ResolucaoSwing/nbproject/private/
/Netbeanss/ResolucaoSwing/build/
/Netbeanss/RelogioSwing/dist/
/Netbeanss/ResolucaoSwing/dist/
/Netbeanss/HoraDoSistema/dist/
/Netbeanss/ProjetoPorcentagem/nbproject/private/
/Netbeanss/ProjetoPorcentagem/build/
/Netbeanss/ProjetoPorcentagem/dist/
